<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/sunburst-chart"></script>
    <title>clocviz</title>
  </head>
  <body>
    <h1>{{.Title}}</h1>
    <div id="chart"></div>
    <script>
      const data1 = {{.ByLang}}
      Sunburst()
        .size("size")
        .excludeRoot(true)
        .showLabels(false)
        .data(data1)
        .color("color")(document.getElementById("chart"));
      const data2 = {{.ByFile}}
      Sunburst()
        .size("size")
        .excludeRoot(true)
        .showLabels(false)
        .data(data2)
        .color("color")(document.getElementById("chart"));
    </script>
  </body>
</html>
